.layout {
    -fx-font-family: Arial, Helvetica, sans-serif;
    -fx-font-size: large;

    -fx-color: #ffffff;
    -fx-background-image: url("money.png");
    -fx-background-size: cover;
}
  

.amount, .from, .into, .result, .buttonBox {
    -fx-font-weight: bold;
    /*
    -fx-border-color: red;
    */
    }

.button {
    -fx-background-color: rgb(46, 46, 46);
    -fx-text-fill: #ffffff;
    -fx-padding: 10px;
}